.secManDetalleRes {
  padding: 10px 20px;
}

.secLogoDetalle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secFoodsDetalleRestaurant {
  padding-bottom: 50px;
}
